.wce-container{
    background-color: var(--LightGrayishBlue);
    height: 85vh;
    padding: 70px 100px 0px 148px;
}
.wce-container h1{
    color: var(--DarkBlue);
    font-weight: 400;
    font-size: 2rem;
}
.wce-container p{
    color: var(--GrayishBlue);
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.wce-list{
    display: flex;
    justify-content: space-between;

}

@media (max-width: 420px){
    .wce-container{
        height: auto;
        padding: 0px 25px;
        padding-bottom: 50px;
        padding-top: 30px;
        text-align: center;
    }
 
    .wce-list{
        flex-direction: column;
    }
}