.articles-container{
    height: 90vh;
    padding: 70px 100px 85px 148px;
    background-color: var(--VeryLightGray);
}
.articles-container h1{
    font-size: 2rem;
    font-weight: 400;
    color: var(--DarkBlue);
}

.articles-list{
    display: flex;
    height: 80%;
    justify-content: space-between;
    margin: 50px 15px;
}

@media (max-width: 420px){
    .articles-container{
        height: auto;
        padding: 0px 25px;
    }
    .articles-container h1{
        margin-top: 0px;
        padding-top: 80px;
        text-align: center;
    }
    .articles-list{
        margin: 0px;
        flex-direction: column;
    }
}