.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 80px;

    background-color: var(--White);
    color: var(--GrayishBlue);
}

.logo{
    margin-left: 140px;
    padding: 9px 0 0 9px;
}

.content-header{
    display: flex;
    justify-content: space-between;

    list-style: none;

    margin-right: 20px;
    height: 100%;

}
.content-header li{
    display: flex;
    align-items: center;
    margin: -4px 14px;
    height: 100%;
    font-size: 0.8rem;
    line-height: 0.8rem;
    cursor: pointer;
}

.content-header li:hover{
    color: var(--DarkBlue);

    border-bottom: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, var(--LimeGreen), var(--BrightCyan));
}

.btn-header{
    margin-right: 120px;
}